<div class="container-fluid p-5 bg-white">
    
    <hr class="border border-light bg-white border-2 mb-5 opacity-50">
    
    <div class="row align-items-top">

        <div class="col-md-8">
          <h2 class="text-dark"><strong>This First Heading</strong> <span class="text-secondary"><strong>Will Catch Your Eye</strong></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <div class="col-md-4">
        <img src="./assets/img/1.jpg" alt="Avatar Image" class="img-fluid rounded-circle">
      </div>
    </div>

  </div>
